<link rel="import" href="../../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../../layout/flexbox-grid.html">
<link rel="import" href="../../../layout/shared-styles.html">
<link rel="import" href="../../../components/aqa-form/aqa-combo-box.html">
<link rel="import" href="../../../components/aqa-panel/aqa-panel.html">
<link rel="import" href="../../../components/aqa-button/aqa-button.html">
<link rel="import" href="../../../components/aqa-form/aqa-input.html">

<dom-module id="address-form-contact">
    <template>
        <style include="flexbox-grid shared-styles">
           
        </style>
        <div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="เลขที่" value="" required></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="หมู่ที่" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="หมู่บ้าน" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-4">
                    <aqa-input label="อาคาร" value=""></aqa-input>
                </div>
            </div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="ซอย" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="ถนน" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-combo-box label="ภาค" items="[[address1]]" item-label-path="label" item-value-path="value" value="" required></aqa-combo-box>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-4">
                    <aqa-combo-box label="จังหวัด" items="[[address2]]" item-label-path="label" item-value-path="value" value="" required></aqa-combo-box>
                </div>
            </div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="อำเภอ / เขต" value="" required></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="ตำบล / แขวง" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="รหัสไปรษณีย์" value="" required></aqa-input>
                </div>
            </div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="โทรศัพท์" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="โทรสาร" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="โทรศัพท์เคลื่อนที่" value="" required></aqa-input>
                </div>
            </div>
            <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="อีเมล" value="" required></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <aqa-input label="Line ID" value=""></aqa-input>
                </div>
            </div>
            <!-- <div class="section-content row">
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2" style="margin:auto 0">
                    <b>ช่วงเวลาที่สามารถติดต่อได้ : </b>
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="ตั้งแต่เวลา" value=""></aqa-input>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
                    <aqa-input label="ถึงเวลา" value=""></aqa-input>
                </div>
            </div> -->
        </div>
    </template>
    <script>
        class AddressFormContract extends Polymer.Element {
            static get is() { return 'address-form-contact'; }
            static get properties() {
                return {
                    address1:{
                        type:Array,
                        value:[
                            {
                                label:'ภาคเหนือ',
                                value:'1'
                            },
                            {
                                label:'ภาคกลาง',
                                value:'2'
                            },
                            {
                                label:'ภาคใต้',
                                value:'3'
                            },
                            {
                                label:'ภาคอีสาน',
                                value:'4'
                            }
                        ]
                    },
                    address2:{
                        type:Array,
                        value:[
                            {
                                label:'กรุงเทพมหานคร ',
                                value:'1'
                            },
                            {
                                label:'กระบี่',
                                value:'2'
                            },
                            {
                                label:'ตราด',
                                value:'3'
                            },
                            {
                                label:'ประจวบคีรีขันธ์',
                                value:'4'
                            }
                        ]
                    }
                }
            }
        }
        window.customElements.define(AddressFormContract.is, AddressFormContract);
    </script>
</dom-module>