<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<!-- <link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html"> -->
 <link rel="import" href="./aqa-tooltip-section.html"> 

<dom-module id="aqa-tooltip">
    <template>
        <style>
            :host {
                display: block
            }
        </style>
        <slot on-mouseover="_showTooltip"></slot>

    </template>

    <script>
      
        class AqaTooltip extends Polymer.Element {
            
            static get is() {
                return 'aqa-tooltip';
            }

            static get properties() {
                return {
                    
                };
            }
            ready() {
                super.ready();

                console.log(this.shadowRoot)
            }

            constructor(){
                super()
                if(typeof  window.tooltipSection == "undefined"){
                    window.tooltipSection = document.createElement('paper-tooltip')
                    tooltipSection.setAttribute('id',"tooltipSection");
                    // tooltipSection.innerHTML = 'meow'
                    document.querySelector('body').appendChild(tooltipSection)

                    // var tick = (render) => {
                    //     render`
                    //         <div id="xx">
                    //             meow
                    //     `;
                    // }

                    // setInterval(tick, 1000,
                    //     hyperHTML(tooltipSection)
                    // );

                    

                    //         </div>
                }                
            }

            _showTooltip(e){
                document.getElementById('tooltipSection').setAttribute("for",e.target.id);
                document.getElementById('tooltipSection').textContent = 'test'
                document.getElementById('tooltipSection').updatePosition()
                // document.getElementById('tooltipSection').label ="edit"
                // console.log(document.getElementById('tooltipSection'))
            }

        }

        window.customElements.define(AqaTooltip.is, AqaTooltip);
    </script>
</dom-module>